<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="tech.jjs.javacode.board.mapper.IBoardMapper">

	<!-- 개시글 등록 -->
	<insert id="insert" parameterType="Board">
		insert into JAVACODE_BOARD
		(
		boardnum
		,title
		,content
		<if test="tag != null ">
		,tag
		</if>
		<if test="originalfile !=null and savedfile !=null">
			,originalfile
			,savedfile
		</if>
		,updatedate
		,category
		)
		values
		(
		SEQ_JAVACODE_BOARD.nextval
		,#{title}
		,#{content}
		<if test="tag != null">
		,#{tag}
		</if>
		<if test="originalfile != null and savedfile !=null">
			,#{originalfile}
			,#{savedfile}
		</if>
		,sysdate
		,#{category}
		)
	</insert>
	<!-- 개시글 등록 -->
	<insert id="insert2" parameterType="Board2">
		insert into JAVACODE_BOARD2
		(
		boardnum
		,title
		,content
		,name
		
		<if test="originalfile !=null and savedfile !=null">
			,originalfile
			,savedfile
		</if>
		,updatedate
		,boardType
		)
		values
		(
		SEQ_JAVACODE_BOARD2.nextval
		,#{title}
		,#{content}
		
		,#{name}
		
		<if test="originalfile != null and savedfile !=null">
			,#{originalfile}
			,#{savedfile}
		</if>
		,sysdate
		,#{boardType}
		)
	</insert>


	<!-- 게시글 읽기 -->
	<select id="read" parameterType="int" resultType="Board">
		select
		boardnum
		,title
		,content
		,tag
		,originalfile
		,savedfile
		,to_char(updatedate,'yyyy-mm-dd hh:mi') updatedate
		,category
		from JAVACODE_BOARD where boardnum = #{boardnum}
	</select>
	<!-- 게시글 읽기2 -->
	<select id="read2" parameterType="int" resultType="Board2">
		select
		boardnum
		,title
		,content
		,name
		,originalfile
		,savedfile
		,to_char(updatedate,'yyyy-mm-dd hh:mi') updatedate
		,boardType
		from JAVACODE_BOARD2 where boardnum = #{boardnum}
	</select>

	<!-- 현재 페이지 목록(검색 필터링 후) -->
	<select id="list" parameterType="hashmap" resultType="Board">
		select
		boardnum
		,title
		,to_char(updatedate,'yyyy-mm-dd') updatedate
		,originalfile
		,savedfile
		
		from
		JAVACODE_BOARD
		<if test="type =='title' and searchText !=null">
			where
			title like '%' || #{searchText} || '%'
		</if>
		<if test="type =='titleContent' and searchText !=null">
			where
			title like '%' || #{searchText} || '%'
			or content like
			'%' || #{searchText} || '%'
		</if>
		<if test="type =='category' and searchText !=null">
			where		
			category like '%' || #{searchText} || '%'
		</if>
		<if test="type =='tag' and searchText !=null">
			where
			tag like '%' || #{searchText} || '%'
		</if>
		order by boardnum desc
	</select>
		
		
		<!-- 현재 페이지 목록(검색 필터링 후) -->
	<select id="list2" parameterType="hashmap" resultType="Board2">
		select
		boardnum
		,title
		,to_char(updatedate,'yyyy-mm-dd') updatedate
		,originalfile
		,savedfile
		boardType
		from
		JAVACODE_BOARD2
		order by boardnum desc
	</select>


	<!-- 검색 글 수 -->
	<select id="getTotal" parameterType="hashmap" resultType="int">
		select count(*) from JAVACODE_BOARD
		<where>
			<if test="type =='title' and searchText !=null">
			
			title like '%' || #{searchText} || '%'
			</if>
			<if test="type =='titleContent' and searchText !=null">
		
				title like '%' || #{searchText} || '%'
				or content like
				'%' || #{searchText} || '%'
			</if>
			<if test="type =='category' and searchText !=null">
						
				category like '%' || #{searchText} || '%'
			</if>
			<if test="type =='tag' and searchText !=null">
			
				tag like '%' || #{searchText} || '%'
			</if>
		
		</where>
		order by boardnum desc
	</select>

	<!-- 글 삭제 -->
	<delete id="delete" parameterType="int">
		delete from JAVACODE_BOARD where
		boardnum = #{boardnum}
	</delete>


	<!-- 글 수정 -->
	<update id="edit" parameterType="Board">
		update JAVACODE_BOARD set
		title = #{title}
		,content = #{content}
		<if test="tag !=null">
		,tag = #{tag}
		</if>
		<if test="originalfile !=null and savedfile !=null">
			, originalfile = #{originalfile}
			, savedfile = #{savedfile}
		</if>
		,updatedate = sysdate
		,category = #{category}
		where
		boardnum = #{boardnum}

	</update>
	
	<!-- 글 수정 -->
	<update id="edit2" parameterType="Board2">
		update JAVACODE_BOARD2 set
		title = #{title}
		,content = #{content}
		,name = #{name}
		<if test="originalfile !=null and savedfile !=null">
			, originalfile = #{originalfile}
			, savedfile = #{savedfile}
		</if>
		,updatedate = sysdate
		,boardType = #{boardType}
		where
		boardnum = #{boardnum}

	</update>
	
	<!-- autocomplete -->
 	<select id="autocomplete" resultType="String">
		select
		distinct 
		category
		from
		JAVACODE_BOARD
	</select>
	<!-- autocomplete2 -->
 	<select id="autocomplete2" parameterType="String" resultType="String" >
		select
		distinct 
		tag
		from
		JAVACODE_BOARD
		where
		tag like '%' || #{word} || '%'

	</select>
		<!-- loginCheck -->
 	<select id="loginCheck" parameterType="String" resultType="User" >
		select
		id,
		permission
		from
		JAVACODE_USER
		where
		id=#{0} and password=#{1}

	</select>
	
</mapper>
