<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="tech.jjs.javacode.board.mapper.IBoardMapper">

	<!-- 개시글 등록 -->
	<insert id="insert" parameterType="Board">
		insert into JAVACODE_BOARD
		(
		s_boardnum
		,s_title
		,s_content
		,s_tag
		<if test="s_originalfile !=null and s_savedfile !=null">
			,s_originalfile
			,s_savedfile
		</if>
		,s_insertdate
		,s_folder
		,s_custid
		,s_url
		)
		values
		(
		SEQ_JAVACODE_BOARD.nextval
		,#{s_title}
		,#{s_content}
		,#{s_tag}
		<if test="s_originalfile != null and s_savedfile !=null">
			,#{s_originalfile}
			,#{s_savedfile}
		</if>
		,#{s_insertdate}
		,#{s_folder}
		,#{s_custid}
		,#{s_url}	
		)
	</insert>

	<!-- 게시글 읽기 -->
	<select id="read" parameterType="int" resultType="Board">
		select
		s_boardnum
		,s_custid
		,s_title
		,s_content
		,to_char(s_insertDate,'yyyy-mm-dd hh:mi') insertDate
		,s_originalfile
		,s_savedfile
		from JAVACODE_BOARD where s_boardnum = #{s_boardnum}
	</select>


	<!-- 현재 페이지 목록(검색 필터링 후) -->
	<select id="list" parameterType="hashmap" resultType="Board">
		select
		s_boardnum
		,s_custid
		,s_title
		,s_content
		,to_char(s_insertDate,'yyyy-mm-dd')
		s_insertDate
		,s_originalfile
		from
		JAVACODE_BOARD
		<if test="type =='title' and searchText !=null">
			where
			title like '%' || #{searchText} || '%'
		</if>
		<if test="type =='titleContent' and searchText !=null">
			where
			title like '%' || #{searchText} || '%'
			or content like
			'%' || #{searchText} || '%'
		</if>
		<if test="type =='id' and searchText !=null">
			where
			id like '%' || #{searchText} || '%'
		</if>
		order by s_boardnum desc
	</select>


	<!-- 전체 글 수 -->
	<select id="getTotal" parameterType="hashmap" resultType="int">
		select count(*) from JAVACODE_BOARD
		<where>
			<if test="searchText!=null">
				<if test="type =='title' ">
					title like '%' || #{searchText} || '%'
				</if>
				<if test="type =='titleContent' ">
					title like '%' || #{searchText} || '%'
					or content like
					'%' || #{searchText} || '%'
				</if>
				<if test="type =='id' ">
					id like '%' || #{searchText} || '%'
				</if>
			</if>
		</where>
		order by s_boardnum desc
	</select>

	<!-- 글 삭제 -->
	<delete id="delete" parameterType="int">
		delete from JAVACODE_BOARD where
		s_boardnum = #{s_boardnum}
	</delete>


	<!-- 글 수정 -->
	<update id="edit" parameterType="Board">
		update JAVACODE_BOARD set
		title = #{title}
		, content =#{content}
		<if test="s_originalfile !=null and s_savedfile !=null">
			, s_originalfile = #{s_originalfile}
			, s_savedfile = #{s_savedfile}
		</if>
		where
		s_boardnum = #{s_boardnum}
	</update>


</mapper>
